@font-face {
    font-family: 'brat'; /*a name to be used later*/
    src: url('fonts/brat.ttf'); /*URL to font*/
}

body {
    font-family: Arial, sans-serif;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7ffe3 !important;
}


header {
    background-color: #bad381;
    background-position-y: 30%;
    color: rgb(0, 0, 0);
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em;
    margin: 1em 0;
    margin-left: 4%;
    margin-right: 4%;
    box-sizing: border-box; /* Assure que padding et border ne dépassent pas la largeur */
    background-color: #cbddc2;
}

section h2 {
    background-color: rgba(255, 255, 255, 0.7); /* Couleur blanche avec opacité */
    text-align: center;
}


grille {
    padding: 2em;
    margin: 1em 0;
    margin-left: 0;
}

h3 {
    font-size: 22px !important;
}

.allo {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}


.team-member, .event {
    border: 2px solid white;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
}

/* .team-member img { 
     max-width: 100px; 
     border-radius: 50%; 
} */

.team-member img {
    width: 150px;  /* Ajuste la largeur selon tes besoins */
    height: 150px; /* Ajuste la hauteur */
    object-fit: cover; /* Coupe l'image pour remplir la boîte */
    /* clip-path: circle(40% at center); */
    border-radius: 50%; /* Optionnel : arrondit les bords */
}




.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/*alignement de everybody*/
.team-member, #team h2, #events h2, #offer h2, #contact h2, #contact p, #contact img {
    text-align: center;
}


/*placement des ptits logos réseaux*/
#logoplacement {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; /*séparation entre logos*/
    flex-wrap: wrap;
}

#logoplacement img {
    /*margin: 15px;*/ /*espacement autour de chaque logo /2 à sa box*/
    width: 100px; 
    height: auto;
}


/*pour l'accordeon*/

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: #e6e6fa;
    color: #4b0082;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #dda0dd;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/*Pour la sidebar*/


.burger-menu {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8ACE00;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-family: 'brat';
}

.sidebar .icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    vertical-align: middle; /* Aligns the icon vertically in the middle */
    margin-right: 10px; /* Adds some space between the icon and the text */
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
    section {
        margin: 1em 5%;
        padding: 1em;
    }
    .team-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    #logoplacement img {
        width: 60px;
    }
}

/*fin sidebar*/